<style>
    .container{
      height: 300px;
      background-color: rgb(144, 156, 154);
      color: black;
  
    }
    h1{
      color:aqua;
      text-align:center;
    }
</style>
  
  <div class="container">
    <h1>Quotes</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <ul>
          <div *ngFor='let quote of quotes; let i = index'>
            <li appStrikethrough> {{quote.name}} due on {{quote.completeDate|date|uppercase}}</li>
            <button (click)='toggleDetails(i)'>Toggle Details</button>
            <app-quote-detail *ngIf='quote.showQuote' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
          </div>
        </ul>
        <p *ngIf='quotes.length >10'>Your quotes are too many</p>
      </div>
    </div>
   
  </div>
