<style>
    .container{
      height: 1000px;
      background-color: rgb(144, 156, 154);
      color: black;
  
    }
    h1{
      color:aqua;
      text-align:center;

    }
    .container{
    background-image :url("https://d32dm0rphc51dk.cloudfront.net/8It5vrXfIlGLCMP41yeosQ/large.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

</style>

  
  <div class="container">
    <h1>Quotes</h1>
    <hr>
    <div class="row">
      <div class="col-md-6">
          <div *ngFor='let quote of quotes; let i = index'>
              <h6 appStrikethrough> {{quote.name}} due on {{quote.completeDate|date|uppercase}}</h6>
              <button (click)='toggleDetails(i)'>click to see quote</button>
              <app-quote-detail *ngIf='quote.showQuote' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
          </div>
      </div>
      <div class="col-md-6">
        <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
      </div>
    </div>
    <p *ngIf='quotes.length >10'>Your quotes are too many</p>
   
  </div>
